@model IEnumerable<EyeShadowMatch.Models.Brand>
﻿   <!-- Intro Section -->
<section id="intro" class="intro-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12" style="margin-top:200px">
                <h1>
                    <a href="" style="color:#E55451" class="typewrite" data-period="2000" data-type='[ "Hi, Im Nessa.", "I Love Make up." ]'>
                        <span class="wrap"></span>
                    </a>
                </h1>

                <a class="btn btn-default btn-lg page-scroll" id="main-btn" href="#service">Start to find perfect eyeshadows!</a>
            </div>
        </div>
    </div>
</section>
@Html.Partial("_Service",Model)
<section id="about" class="about-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="text-center stepheading">How it works - simple as 1,2,3</h2>
                <hr class="break" />
                <ul class="timeline">
                    <li>

                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="~/Images/Step/step1.png" alt="step1">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">

                                <h4 class="subheading">Step One</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    Search the recipe by ingredient, name or dish category
                                </p>
                            </div>
                        </div>
                        <div class="line"></div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="~/Images/Step/step2.png" alt="step2">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Step Two</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    Choose the recipe and cook your delicious meal
                                </p>
                            </div>
                        </div>
                        <div class="line"></div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="~/Images/Step/step3.jpg" alt="step3">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Step Three</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    Enjoy your meal
                                </p>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</section>