@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-md-offset-8">
        <div>
            Bla bla bla<br/>
            <button type="button" class="btn">Find perfect eyeshadow</button>
        </div>
    </div>
</div>

